@page "{restaurantId:int}"


@model Frou_Frou_Feline_Cafe.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Type: @Model.Restaurant.ResType
</div>

<a asp-page="./List" class="btn btn-default">All Restaurants</a>

